body {
    background: url(../imagenes/fondofms.jpg) no-repeat center;
    background-size: cover;
}

.triangulo {
    position: absolute;
    width: 11rem;
    height: 13.25rem;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    transform-origin: 50% 0 0;
    cursor: pointer;
    border-radius: 50% / 11.3%;
    right: 0;
    left: 0;
    top: 18rem;
    margin: auto;
    color: white;
    text-align: center;
    font-family: 'Patua One', cursive;
    padding-top: 9rem;
    font-size: 1rem;
    font-weight: bold;
    border: transparent;
}

#noticias,
#hard,
#personajes {
    background-color: black;
    transition: all .3s ease;
}

#terminaciones,
#easy,
#imagenes {
    background-color: #FFD27D;
    transition: all .3s ease;
}

#tematicas,
#extreme {
    background-color: #461414;
    transition: all .3s ease;
}

#noticias:hover {
    transform: scale(1.1)!important;
}

#terminaciones:hover {
    transform: scale(1.1) rotate(45deg)!important;
}

#terminaciones>p {
    transform: rotate(315deg);
    font-size: .9rem;
    color: black!important;
}

#tematicas:hover {
    transform: scale(1.1) rotate(90deg)!important;
}

#tematicas>p {
    transform: rotate(270deg);
}

#hard:hover {
    transform: scale(1.1) rotate(135deg)!important;
}

#hard>p {
    transform: rotate(225deg);
}

#easy:hover {
    transform: scale(1.1) rotate(180deg)!important;
}

#easy>p {
    transform: rotate(180deg);
    color: black!important;
}

#extreme:hover {
    transform: scale(1.1) rotate(225deg)!important;
}

#extreme>p {
    transform: rotate(135deg);
}

#personajes:hover {
    transform: scale(1.1) rotate(270deg)!important;
}

#personajes>p {
    transform: rotate(90deg);
}

#imagenes:hover {
    transform: scale(1.1) rotate(315deg)!important;
}

#imagenes>p {
    transform: rotate(45deg);
    color: black!important;
}

.logofms {
    background: url(../imagenes/fms.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    top: 12rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 12rem;
    width: 12rem;
    position: absolute;
}

.info {
    position: absolute;
    height: 28rem;
    width: 28%;
    top: 5.75rem;
    margin: auto;
    background-color: transparent;
    color: black;
    display: flex;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.info>h5 {
    font-family: 'Montserrat', sans-serif;
}

#infoizq {
    margin-left: 2%!important;
}

#infoder {
    right: 0;
    margin-right: 2%!important;
    color: transparent;
    visibility: hidden;
}

#transparente {
    height: 28rem;
}

@media(max-device-width: 825px) {
    .triangulo {
        width: 8.5rem;
        height: 10rem;
        top: 15rem;
        font-size: .7rem;
        padding-top: 7rem;
    }
    .logofms {
        width: 9rem;
        height: 9rem;
        top: 9.8rem;
    }
    #terminaciones>p {
        font-size: .6rem;
    }
}

@media(max-device-width: 576px) {
    .triangulo {
        width: 7.5rem;
        height: 9rem;
        top: 15rem;
        font-size: .7rem;
        padding-top: 6rem;
    }
    .logofms {
        width: 8rem;
        height: 8rem;
        top: 10.8rem;
    }
    #terminaciones>p {
        font-size: .6rem;
    }
}